<!DOCTYPE html>
<html>
<head>
    <title>Screenshot tester</title>
</head>
<body>
<h2>Screenshot tester</h2>

<form action="/run_test" method="POST">
    <label>URL:</label>
    <input type="text" name="url" required list="aliases">

    <datalist id="aliases">
        {% for name, url in aliases.items() %}
            <option value="{{ url }}">{{ name }}</option>
        {% endfor %}
    </datalist>

    <br><br>

    <label>Zařízení:</label>
    <select name="device">
        {% for device in devices %}
            <option>{{ device }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Spustit test</button>
</form>

</body>
</html>